{% extends "base.html" %}

{% block content %}

    <div>
    {% for page in result_pages %}
        <div style="margin-bottom: 10px; border-bottom: 1px solid black">
            <p>Автор: {{ page.book.author }}</p>
            <p>Книга: {{ page.book.name_book }}</p>
            <p>Часть: {{ page.part }}</p>
            <p>Раздел: {{ page.section }}</p>
            <p>Глава: {{ page.chapter }}</p>
            <p>Страница: {{ page.page_number }}</p>
        </div>
    {% endfor %}
    </div>

{% endblock content %}